 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/bg.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-group-1 {
  width: 706px;
  min-height: 522px;
  margin: 220px auto -152px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 137px -31px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 19px 20px 0;
}

.u-section-1 .u-text-3 {
  margin: 14px 20px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 147px;
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1 .u-group-1 {
    width: 722px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 158px;
  }

  .u-section-1 .u-line-1 {
    width: 121px;
    margin-left: 285px;
    margin-right: 285px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 446px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 152px;
  }

  .u-section-1 .u-line-1 {
    width: 93px;
    margin-left: 180px;
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 87px;
    margin-left: 157px;
    margin-right: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-line-1 {
    width: 73px;
    margin-left: 128px;
    margin-right: 128px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 811px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 829px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 24px;
}

.u-section-2 .u-image-1 {
  width: 544px;
  height: 721px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 415px;
  background-image: url("https://images01.nicepage.com/7ca52226a34804e33b1d71b9/9202d92c7cd659ffa396040b/164275990359012_P15458296.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-line-1 {
  width: 193px;
  transform-origin: left center;
  border-style: dotted;
  position: absolute;
  top: 280px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 59px 0 0;
}

.u-section-2 .u-line-2 {
  width: 485px;
  transform-origin: left center;
  border-style: dotted;
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 620px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 684px;
  }

  .u-section-2 .u-image-1 {
    width: 414px;
    height: 549px;
  }

  .u-section-2 .u-image-2 {
    min-height: 342px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 341px;
  }

  .u-section-2 .u-line-2 {
    width: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1456px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-image-2 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1130px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 786px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 393px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 768px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 424px;
  }

  .u-section-2 .u-image-2 {
    min-height: 247px;
  }

  .u-section-2 .u-line-2 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 991px;
}

.u-section-3 .u-group-1 {
  width: 826px;
  min-height: 186px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 147px;
  height: 3px;
  transform-origin: left center 0;
  border-style: dotted;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 57px;
}

.u-section-3 .u-image-1 {
  background-image: url("https://images01.nicepage.com/7ca52226a34804e33b1d71b9/78905fd8da755efb84610a9e/36f37235-f0a6-3bcf-9fbb-d7fd91910939.webp");
  min-height: 728px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 131px;
  background-image: url("https://images01.nicepage.com/7ca52226a34804e33b1d71b9/c0899fbc18105725a5b4c0a2/niigataffix01.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 597px;
}

.u-section-3 .u-gallery-1 {
  width: 689px;
  height: 590px;
  grid-gap: 10px;
  margin: 7px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 121px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 655px;
  }

  .u-section-3 .u-image-2 {
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 367px;
  }

  .u-section-3 .u-gallery-1 {
    width: 627px;
    row-gap: 10px;
    column-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2015px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 93px;
  }

  .u-section-3 .u-image-2 {
    min-height: 124px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 87px;
  }

  .u-section-3 .u-image-2 {
    min-height: 93px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 73px;
  }

  .u-section-3 .u-image-2 {
    min-height: 59px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-3 .u-over-slide-2 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 686px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Screen-Shot-2018-05-11-at-11.47.31.png");
  min-height: 713px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 713px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 172px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-4 .u-line-1 {
  width: 147px;
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 18px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 43px auto 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Screen-Shot-2018-05-11-at-11.47.31.png");
  min-height: 713px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 561px;
  }

  .u-section-4 .u-image-1 {
    min-height: 588px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-line-1 {
    width: 121px;
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-4 .u-image-2 {
    min-height: 588px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 423px;
  }

  .u-section-4 .u-image-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-line-1 {
    width: 93px;
    margin-left: 77px;
    margin-right: 77px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 51px;
    margin-left: 51px;
  }

  .u-section-4 .u-image-2 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1999px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1013px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 87px;
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 238px;
    margin-right: 238px;
  }

  .u-section-4 .u-image-2 {
    min-height: 1013px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1249px;
  }

  .u-section-4 .u-image-1 {
    min-height: 638px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 73px;
    margin-left: 178px;
    margin-right: 178px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 141px;
    margin-right: 141px;
  }

  .u-section-4 .u-image-2 {
    min-height: 638px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 585px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 437px;
  width: 779px;
  margin: -11px 168px 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    margin-right: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 752px;
}

.u-section-6 .u-slider-1 {
  min-height: 577px;
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-6 .u-image-1 {
  width: 596px;
  height: 330px;
  margin: 98px 0 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -330px 757px 0 93px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 78px 640px 0 44px;
}

.u-section-6 .u-line-1 {
  width: 290px;
  transform-origin: left center;
  border-style: dotted;
  margin: 117px auto 0 93px;
}

.u-section-6 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 617px;
  height: 336px;
  margin: 121px 0 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -336px auto 0 149px;
}

.u-section-6 .u-text-4 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 73px 657px 0 44px;
}

.u-section-6 .u-line-2 {
  width: 216px;
  transform-origin: right center;
  border-style: dotted;
  margin: 112px auto 0 149px;
}

.u-section-6 .u-carousel-control-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44px 60px;
  position: absolute;
  padding: 12px;
}

.u-section-6 .u-carousel-control-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44.00013316761363px 127.00001109730113px;
  position: absolute;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-6 .u-slider-1 {
    height: auto;
  }

  .u-section-6 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: -269px;
    margin-right: 650px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -31px;
    margin-right: 282px;
    margin-left: 13px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 238px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 163px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3rem;
    margin-top: -350px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 101px;
    margin-right: 501px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 700px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 430px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 97px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 281px;
  }

  .u-section-6 .u-carousel-control-1 {
    inset: auto auto 47.6875px 24px;
  }

  .u-section-6 .u-carousel-control-2 {
    inset: auto auto 47.6875px 92px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 767px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 299px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 250px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 206px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 294px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -317px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 29px;
    margin-right: 101px;
  }

  .u-section-6 .u-carousel-control-1 {
    inset: auto auto 43.6875px 9px;
  }

  .u-section-6 .u-carousel-control-2 {
    inset: auto auto 43.6875px 75px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 717px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 188px;
    margin-top: 117px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -316px;
    margin-right: 50px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -104px;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: 246px;
    margin-left: 50px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-top: 150px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -197px;
    margin-left: 94px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    margin-left: 124px;
  }
} .u-section-7 {
  min-height: 795px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/51648645_76438532.9831567.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-group-1 {
  width: 733px;
  min-height: 345px;
  margin: 225px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 58px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 23px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: 32px 582px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-btn-1 {
    position: relative;
    margin-right: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 174px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 723px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 37px auto 70px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-8 .u-image-1 {
  width: 512px;
  height: 468px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 16px 19px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 271px;
  margin: 109px auto 0;
}

.u-section-8 .u-line-1 {
  width: 262px;
  transform-origin: left center;
  border-style: dotted;
  margin: 0 auto 0 149px;
}

.u-section-8 .u-image-2 {
  height: 360px;
  width: 605px;
  margin: 92px -35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-8 .u-image-1 {
    width: 470px;
    height: 430px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-8 .u-image-2 {
    height: 280px;
    width: 470px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    height: 329px;
  }

  .u-section-8 .u-line-1 {
    margin-left: 98px;
  }

  .u-section-8 .u-image-2 {
    height: 214px;
    width: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
    height: 311px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-8 .u-line-1 {
    margin-left: 78px;
  }

  .u-section-8 .u-image-2 {
    height: 202px;
    width: 340px;
  }
} .u-section-9 {
  min-height: 687px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-image-1 {
  background-image: url("https://images01.nicepage.com/7ca52226a34804e33b1d71b9/0ae4110568a35dafbcb28cdf/native-american-vector-pattern-with-arrows.jpg.webp");
  min-height: 687px;
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 687px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-2 {
  width: 358px;
  height: 73px;
  margin: 241px 27px 0 28px;
}

.u-section-9 .u-line-1 {
  width: 147px;
  transform-origin: left center;
  border-style: dotted;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  margin: 37px auto 0;
}

.u-section-9 .u-image-3 {
  background-image: url("https://images01.nicepage.com/7ca52226a34804e33b1d71b9/0ae4110568a35dafbcb28cdf/native-american-vector-pattern-with-arrows.jpg.webp");
  min-height: 687px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-image-2 {
    width: 313px;
    height: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-line-1 {
    width: 121px;
    height: 3px;
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-9 .u-image-3 {
    min-height: 566px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-image-2 {
    width: 240px;
    height: 49px;
  }

  .u-section-9 .u-line-1 {
    width: 93px;
    margin-left: 77px;
    margin-right: 77px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-9 .u-image-3 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-line-1 {
    width: 87px;
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 241px;
    margin-right: 241px;
  }

  .u-section-9 .u-image-3 {
    min-height: 977px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-line-1 {
    width: 73px;
    margin-left: 178px;
    margin-right: 178px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 144px;
    margin-right: 144px;
  }

  .u-section-9 .u-image-3 {
    min-height: 615px;
  }
}